<template name="editPosts">
	<h1>Modification du post</h1>
	<div class="col-lg-4" id="add">
			<form class="ajouter">
				<div class="col-xs-6" id="champs1">
					<label>Auteur</label> <br>
					<label>Titre</label> <br>
					<label>description</label> <br>
				</div>
				<div class="col-xs-6" id="champs2">
					<input type="text" name="auteur" /> <br>
					<input type="text" name="titre" /><br />
					<input type="text" name="contenu"/><br />
					<button type="submit" class="bouttonsActions">Ajouter</button>
				</div>
			</form>
		</div>	
</template>